.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

.user-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: rgb(141, 227, 238);
    padding: 0 25px;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
}

.btn-edit{
    color : rgb(191, 10, 236)
}

.title {
    margin-left: 10px;
}

.header{
    margin: auto;
}